.searchIt{
	width : 200px;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.searchIt_main_container{

}
.searchIt_result_list{
	border: 1px solid gray;
	font-size: 13px;
	font-family: Arial;
}

.searchIt_result_list tr:nth-child(even) {
	background: #CCC;
}

.searchIt_result_list tr:nth-child(odd) {
	background: #FFF;
}

.searchIt_result_list tr:hover{
	background: #c2edfd;
	cursor: pointer;
}

.searchIt_result_list tr label:hover{
	background: #c2edfd;
	cursor: pointer;
}		

.resultListNextPage, .resultListPrevPage{
	font-style: italic;
	text-align: center;
	font-weight: bold;
	margin: 0 auto;
	padding: 0;
}