.selectIt{
	width : 200px;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.selectIt_main_container{
	font-family: Arial;
	font-size: 12px;
}

.selectIt_search_field{
	width:100px; 
	height: 20px; 
	cursor: pointer; 
	padding: 2px;
	text-indent: 2px;
}

ul.drop,ul.drop li,ul.drop ul {
	list-style: none;
	margin: 0;
	padding: 0;
	color: black;
}

ul.drop li:nth-child(even) {
	background: #CCC;
}

ul.drop li:nth-child(odd) {
	background: #FFF;
}

ul.drop li:first-child, ul.drop li:last-child{
	margin: 0;
	padding: 0;
}

.selectIt_result_list_button{
	text-shadow: 0;
	border-bottom: 1px solid #222;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	background-color: #494949;
	font-style: italic;
	text-align: center;
	width: 100%;
	padding: 4px;
}

.selectIt_result_list_button :hover{
	background-color: #6b6b6b;
	text-shadow: 0 -1px 1px #222;
}

ul.drop {
	position: relative;
	z-index: 597;
	float: left;
}

ul.drop li {
	float: left;
	line-height: 1.3em;
	vertical-align: middle;
	padding: 4px;
	clear: both;
	width: 100%;
}

ul.drop li.hover,ul.drop li:hover {
	position: relative;
	z-index: 599;
	background: #c2edfd;
	cursor: pointer;	
}

ul.drop li:hover>ul {
	visibility: visible
}